<%- include('partials/header.ejs'); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/example">See Request Example Page</a></br>
    <a href="/restful">See RESTful Example Page</a></br>
    <a href="/status-codes">See Status Codes Page Page</a></br>

    <a href="/countries" class="giant">See all API Countries</a></br>

<%- include('partials/footer.ejs'); %>
